<h1>Listing inspirations</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inspirations.each do |inspiration| %>
  <tr>
    <td><%= inspiration.body %></td>
    <td><%= inspiration.author %></td>
    <td><%= link_to 'Show', inspiration %></td>
    <td><%= link_to 'Edit', edit_inspiration_path(inspiration) %></td>
    <td><%= link_to 'Destroy', inspiration, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inspiration', new_inspiration_path %>
